<div class="wrapper">
    <form class="form register-new">
        <h1>Registrati</h1>
        <div>
            <label>Nome</label>
        </div>
        <div>
            <input type="text" placeholder="Inserisci il tuo nome">
        </div>
        <div class="cognome">
            <label>Cognome</label>
        </div>
        <div>
            <input type="text" placeholder="Inserisci il tuo cognome">
        </div>
        <div class="radioBtn">
            <label>Sesso</label>
        </div>
        <div>
            <input type="radio" name="sesso" value="uomo">Maschio
            <input type="radio" name="sesso" value="donna">Femmina
        </div>
        <div>
            <label>Email</label>
        </div>
        <div>
            <input type="email" placeholder="Inserisci la tua email">
        </div>
        <div>
            <label>Numero di Cellulare</label>
        </div>
        <div>
            <input type="number" placeholder="Inserisci il tuo cellulare">
        </div>
        <div class="lblPwd">
            <label>Password</label>
        </div>
        <div>
            <input type="password" placeholder="Inserisci la password">
        </div>
        <div>
            <input type="checkbox">
            <label>Visualizza</label>
        </div>
        <div class="button">
            <button type="submit">Registrati</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</div>