<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ul>
    <li class="class-list-item" *ngFor="let item of sweets" [hidden]="item.hidden">{{item.name}}
        <div class="align-right">
            <button [ngClass]="item.favorite ? 'fa fa-heart' : 'fa fa-heart-o'" (click)="addFavorite(item)"></button>
            <button class="fa fa-share-alt"></button>
            <button class="fa fa-ellipsis-v" (click)="hideMenu(item)">
                <div [hidden]="!item.showMenu">
                <button>
                    mostra di più
                </button>
            <button (click)="hideItem(item)">
                    nascondi
                </button>
        </div>
        </button>
        </div>
    </li>
</ul>