<div class="class-container-home">
    <div style="display: grid; grid-template-rows: 1fr 1fr; ">
        <img alt="Avatar" class="img-avatar" src="assets/img/img_avatar2.png">
        <div style="display: grid; grid-template-rows: 1fr 1fr 1fr 1fr 2fr; justify-content: center;">
            <label>Nome: mio.Nome</label>
            <label>Cognome: mio.Cognome</label>
            <label>Sesso: mio.Sesso</label>
            <label>Cell: mio.Cell</label>
            <label>mail: mio.mail</label>
            <div>
                <button>modifica</button>
            </div>
        </div>
    </div>
</div>