<div class="class-container-home">
    <div class="profile-div">
        <img alt="Avatar" class="img-avatar" src="assets/img/img_avatar2.png">
        <div class="profile">
            <label>Nome: mio.Nome</label>
            <label>Cognome: mio.Cognome</label>
            <label>Sesso: mio.Sesso</label>
            <label>Cell: mio.Cell</label>
            <label>mail: mio.mail</label>
            <div>
                <button>modifica</button>
            </div>
        </div>
    </div>
</div>