<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="wrapper">
    <div class="login-new">
        <h1>Accedi</h1>
        <form class="form">
            <div>
                <label>Username</label>
            </div>
            <div>
                <input type="text">
            </div>
            <div class="lblPwd">
                <label>Password</label>
            </div>
            <div>
                <input type="password">
            </div>
            <div>
                <input type="checkbox">
                <label>Visualizza</label>
            </div>
            <div class="remindMe">
                <label>Ricordami</label>
                <input type="checkbox">
            </div>
            <div class="button">
                <button type="submit">Login</button>
                <button type="reset">Reset</button>
            </div>
            <div class="addBtn">
                <label>Per registrarti, clicca qui <a [routerLink]="['/register']" routerLinkActive="router-link-active" ><i class="fas fa-plus"></i></a></label>
            </div>
        </form>
    </div>
<div class="login formLogin">
  <h1>Accedi</h1>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
    </div>
    <div>
      <input type="text" placeholder="Inserisci il nome utente" [formControlName]="'username'" required>
    </div>
    <div class="lblPwd">
      <label for="password" >Password</label>
    </div>
    <div>
      <input type="password" placeholder="Inserisci la password" formControlName="password" required>
    </div>
    <div>
      <input type="checkbox">
      <label>Visualizza</label>
    </div>
    <div class="remindMe">
      <label>Ricordami</label>
      <input type="checkbox">
    </div>
    <div class="button">
      <button type="submit">Login</button>
      <button type="reset" (click)="reset()">Reset</button>
    </div>
    <div class="addBtn">
      <label>Per registrarti, clicca qui <a><i class="fas fa-plus"></i></a></label>
    </div>
  </form>
</div>