<div class="wrapper">
    <div class="login-new">
        <h1>Accedi</h1>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="username">Username</label>
            </div>
            <div>
                <input type="text" placeholder="Inserisci il nome utente" [formControlName]="'username'" required>
            </div>
            <div class="lblPwd">
                <label for="password">Password</label>
            </div>
            <div>
                <input type="password" placeholder="Inserisci la password" formControlName="password" required>
            </div>
            <div>
                <input type="checkbox">
                <label>Visualizza</label>
            </div>
            <div class="remindMe">
                <label>Ricordami</label>
                <input type="checkbox">
            </div>
            <div class="button">
                <button type="submit">Login</button>
                <button type="reset" (click)="reset()">Reset</button>
            </div>
            <div class="addBtn">
                <label>Per registrarti, clicca <a [routerLink]="['/register']" routerLinkActive="router-link-active" >qui</a></label>
            </div>
        </form>
    </div>