<div class="class-container">
    <nav>
        <div class="class-menu" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 5fr;">
            <a routerLink='/portal/home' routerLinkActive="active">
                <button class="menu-button">
                    Home
                </button>
            </a>
            <a routerLink='/portal/list' routerLinkActive="active">
                <button class="menu-button">
                    Lista
                </button>
            </a>
            <a routerLink='/portal/cards' routerLinkActive="active">
                <button class="menu-button">
                    Cards
                </button>
            </a>
            <a routerLink='/portal/feedback' routerLinkActive="active">
                <button class="menu-button">
                    Feedback
                </button>
            </a>
            <a routerLink='/portal/profile' routerLinkActive="active">
                <button class="menu-button">
                    Profilo
                </button>
            </a>
            <button class="menu-button" type="submit" (click)="logout()">
                   {{user_id}} Esci
                </button>
            <div style="display: flex; justify-content: flex-end; align-items: center">
                <img alt="Avatar" class="logo-menu" src="assets/img/img_avatar2.png">
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>