<div class="class-container">
    <div class="class-menu" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 5fr; align-items: left;">
        <button class="menu-button">
          Home
        </button>
        <button class="menu-button">
            Lista
        </button>
        <button class="menu-button">
              Cards
        </button>
        <button class="menu-button">
            Feedback
          </button>
        <button class="menu-button">
              Profilo
          </button>
        <button class="menu-button">
                Esci
          </button>
        <div style="display: flex; justify-content: flex-end; width: 100%;">
            <img alt="Avatar" class="logo-menu" src="assets/img/img_avatar2.png">
        </div>
    </div>
</div>