.login{
    width: 70%;
    height: 400px;
    background-color: cornflowerblue;
    color: white;
    margin: 0px auto;
    padding: 5%;
    text-align: center;
}
.form{
    width: 100%;
    background-color: chocolate;
    padding: 10% 0%;
}
.lblPwd{
    padding-top: 5%;
}
.remindMe{
    padding-top: 5%;
}
.button{
    padding-top: 5%;
}